.film-card {
  width: 160px;
  min-width: 140px;
  text-decoration: none;
  color: inherit;
  flex: 0 0 auto;
  display: block;
  scroll-snap-align: start;

  img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    border-radius: 6px;
    display: block;
  }

  p {
    font-size: 14px;
    margin-top: 6px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.carousel {
  margin-bottom: 24px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid #e6e6e6;

  .carousel-title {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
    padding-left: 16px;

    .carousel-title-text {
      font-size: 1.25rem;
      font-weight: 700;
      letter-spacing: -0.2px;
    }

    .carousel-badge {
      font-size: 0.75rem;
      padding: 5px 8px;
      border-radius: 999px;
      color: #fefefe;
      //background: #e6e6e6;
      text-transform: none;
      display: inline-block;
      width: 100%;
      text-align: center;
    }

    .carousel-badge.popular {
      background: #e50914;
      color: white;
      box-shadow: 0 2px 0 rgba(0,0,0,0.2);
      
    }

    .carousel-badge.topRated {
      background: #1f4fd8;
      color: white;
      box-shadow: 0 2px 0 rgba(0,0,0,0.2);
    }

    .carousel-badge.upcoming {
      background: #f5a623;
      color: rgb(250, 248, 248);
      box-shadow: 0 2px 0 rgba(0,0,0,0.2);
    }
  }
}

.carousel-row {
  display: flex;
  overflow-x: auto;
  gap: 12px;
  -webkit-overflow-scrolling: touch;
  /* hide scrollbar */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  padding: 8px 4px;
  scroll-behavior: smooth;
}


.carousel-row::-webkit-scrollbar {
  display: none;
}

.toast {
  position: fixed;
  top: 85px;
  right: 20px;
  background: #2ecc71;
  color: white;
  padding: 10px 16px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.wishlist {
  padding: 16px;

  .wishlist-container {
    gap: 16px;
  }
}